<nav class="usajobs-openopps-help-center-nav-secondary" role="navigation">
  <div class="usajobs-openopps-help-center-nav-secondary__body">
    <ul class="usajobs-openopps-help-center-nav-secondary__menu">
      <li
        class="usajobs-openopps-help-center-nav-secondary__container getting-started {% if page.section == 'getting-started' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/' | relative_url }}"
        >
          Getting started
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container profile {% if page.section == 'profile' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/profile/' | relative_url }}"
        >
          Profile
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container opportunity-creators {% if page.section == 'opportunity-creators' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/opportunity-creators/' | relative_url }}"
        >
          Creators
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container applicants {% if page.section == 'applicants' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/applicants/' | relative_url }}"
        >
          Applicants
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container administrators {% if page.section == 'administrators' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/administrators/' | relative_url }}"
        >
          Administrators
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container networking {% if page.section == 'networking' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/networking/' | relative_url }}"
        >
          Networking
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container communities {% if page.section == 'communities' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/communities/' | relative_url }}"
        >
          Communities
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container videos {% if page.section == 'videos' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/videos/' | relative_url }}"
        >
          Videos
    </a>
  </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container release-notes {% if page.section == 'release-notes' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/release-notes/' | relative_url }}"
        >
          Release notes
        </a>
      </li>
    </ul>
  </div>
</nav>
