
<div class="usajobs-openopps-help-center-article-sidenav">
{% if page.section == 'getting-started' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Getting started
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'getting-started' %}class="usa-current"{% endif %} href="{{ '/' | relative_url }}/">
        What is Open Opportunities?
      </a>
    </li>
    
    <li>
      <a {% if page.sidenav == 'who-can-participate' %}class="usa-current"{% endif %} href="{{ '/getting-started/who-can-participate' | relative_url }}">
        Who can participate?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'recognition' %}class="usa-current"{% endif %} href="{{ '/getting-started/recognition' | relative_url }}">
        Do I get recognition for participating in an opportunity?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'training' %}class="usa-current"{% endif %} href="{{ '/getting-started/training' | relative_url }}">
       Can my work count as training?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'how-long-to-post-and-review' %}class="usa-current"{% endif %} href="{{ '/getting-started/how-long-to-post-and-review' | relative_url }}">
        How long does it take to post an opportunity and review applicants?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'web-browser' %}class="usa-current"{% endif %} href="{{ '/getting-started/web-browser' | relative_url }}">
        Which web browsers work best with Open Opportunities ?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'profile' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Profile
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'profile' %}class="usa-current"{% endif %} href="{{ '/profile/' | relative_url }}">
        How to create a profile
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'account-login-gov' %}class="usa-current"{% endif %} href="{{ '/profile/login-gov' | relative_url}}">
        What is login.gov and why do I have to create an account?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'account-badges' %}class="usa-current"{% endif %} href="{{ '/profile/badges' | relative_url}}">
        What are badges?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'opportunity-creators' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Opportunity creators
  </h3>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.sidenav == 'opportunity' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/' | relative_url }}">
        How to create and post an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'top-10-tips' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/top-10-tips' | relative_url }}">
        How to write a great opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-add-skills' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/add-skills' | relative_url }}">
        How to add skills to an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'commitment' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/commitment' | relative_url }}">
        What does the type of commitment mean?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-where' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/where' | relative_url }}">
        What's the difference between a virtual and in-person opportunity?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-status' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/opportunity-status' | relative_url }}">
        What does the opportunity status mean?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'post-to-community' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/post-to-community' | relative_url}}">
        How to post to a community
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-select-applicant' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/select-applicant' | relative_url }}">
        How to a select an applicant
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-accept-applications' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/accept-applications' | relative_url }}">
        How to continue accepting applicants
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'invite-opportunity' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/invite-opportunity' | relative_url }}">
        How to invite someone to apply to an opportunity
      </a>
    </li>
        <li>
      <a {% if page.sidenav == 'extend-opportunity' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/extend-opportunity' | relative_url }}">
        How to extend an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'cancel-opportunity' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/cancel-opportunity' | relative_url }}">
        How to cancel an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'complete-opportunity' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/complete-opportunity' | relative_url }}">
        How to complete and close out an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-advertise' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/advertise' | relative_url }}">
        How to advertise an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'encourage-participation' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/encourage-participation' | relative_url }}">
        How to encourage participation in an opportunity?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-sample-opportunities' %}class="usa-current"{% endif %} href="{{ '/opportunity-creators/sample-opportunities' | relative_url }}">
        What are some examples of opportunities?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'applicants' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Applicants
  </h3>
  <ul class="usa-sidenav-list">   
    <li>
      <a {% if page.sidenav == 'apply-participate' %}class="usa-current"{% endif %} href="{{ '/applicants/' | relative_url }}">
        How to apply to an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'apply-update-application' %}class="usa-current"{% endif %} href="{{ '/applicants/update' | relative_url }}">
        How to update an application
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'apply-withdraw-application' %}class="usa-current"{% endif %} href="{{ '/applicants/withdraw-application' | relative_url }}">
        How to withdraw an application
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'application-status' %}class="usa-current"{% endif %} href="{{ '/applicants/application-status' | relative_url }}">
        What does the application status mean?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-search' %}class="usa-current"{% endif %} href="{{ '/applicants/search' | relative_url }}">
        How to search for an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-save-search' %}class="usa-current"{% endif %} href="{{ '/applicants/save-search' |relative_url }}">
        How to save a search
      </a>
    </li>

  </ul>
{% endif %}
{% if page.section == 'administrators' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Administrators
  </h3>
  <ul class="usa-sidenav-list">   
    <li>
      <a {% if page.sidenav == 'approve-opportunity' %}class="usa-current"{% endif %} href="{{ '/administrators/' | relative_url }}">
        How to approve an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'add-participant' %}class="usa-current"{% endif %} href="{{ '/administrators/add-participant' | relative_url }}">
        How to add a participant to an opportunity
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'delete-participant' %}class="usa-current"{% endif %} href="{{ '/administrators/delete-participant' | relative_url }}">
        How to delete a participant from an opportunity
      </a>
    </li>    <li>
      <a {% if page.sidenav == 'delete-opportunity' %}class="usa-current"{% endif %} href="{{ '/administrators/delete-opportunity' | relative_url }}">
        How to delete an opportunity
      </a>
    </li>
      <li>
      <a {% if page.sidenav == 'change-opportunity-owner' %}class="usa-current"{% endif %} href="{{ '/administrators/change-opportunity-owner' | relative_url }}">
        How to change the owner of an opportunity
      </a>
    </li>
     <li>
      <a {% if page.sidenav == 'add-member' %}class="usa-current"{% endif %} href="{{ '/administrators/add-member' | relative_url }}">
        How to add a member to a community
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'add-community-manager' %}class="usa-current"{% endif %} href="{{ '/administrators/add-community-manager' | relative_url }}">
        How to make a member a community manager
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'metrics' %}class="usa-current"{% endif %} href="{{ '/administrators/metrics' | relative_url }}">
        What do the user metrics mean?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'opportunity-metrics' %}class="usa-current"{% endif %} href="{{ '/administrators/opportunity-metrics' | relative_url }}">
        What do the opportunity metrics mean?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'interactions' %}class="usa-current"{% endif %} href="{{ '/administrators/interaction-metrics' | relative_url }}">
        What do the interaction metrics mean?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'networking' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Networking
  </h3>
  <ul class="usa-sidenav-list">   
    <li>
      <a {% if page.sidenav == 'networking' %}class="usa-current"{% endif %} href="{{ '/networking/' | relative_url }}">
        What is networking?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'search-people' %}class="usa-current"{% endif %} href="{{ '/networking/search-people' | relative_url }}">
        How to search for and add people to my network
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'mentoring' %}class="usa-current"{% endif %} href="{{ '/networking/mentoring' | relative_url }}">
        What is mentoring?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'become-mentor' %}class="usa-current"{% endif %} href="{{ '/networking/become-mentor' | relative_url }}">
        How can I become a mentor or say I'm looking for a mentor?
      </a>
    </li>    <li>
      <a {% if page.sidenav == 'find-mentor' %}class="usa-current"{% endif %} href="{{ '/networking/find-mentor' | relative_url }}">
        How can I find a mentor or someone looking for a mentor?
      </a>
    </li>
  </ul>
{% endif %}
{% if page.section == 'communities' %}
  <h3 class="usajobs-openopps-help-center-article-sidenav__title">
    Communities
  </h3>
  <ul class="usa-sidenav-list">   
    <li>
      <a {% if page.sidenav == 'communities' %}class="usa-current"{% endif %} href="{{ '/communities/' | relative_url }}">
        What is a community?
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'join-discussion' %}class="usa-current"{% endif %} href="{{ '/communities/join-discussion' | relative_url }}">
        How to join and create community discussion threads
      </a>
    </li>
    <li>
      <a {% if page.sidenav == 'add-discussion' %}class="usa-current"{% endif %} href="{{ '/communities/add-discussion' | relative_url }}">
        How to add a discussion board to your community
      </a>
    </li>
  </ul>
{% endif %}
</div>
